
#containerr {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 75px;
   background: rgb(36,23,0);
   background: linear-gradient(90deg, rgba(36,23,0,1) 0%, rgba(121,78,9,1) 75%);
    height: 75px;
}

.innerContainer {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoLeft {
margin-left: 1rem;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: bolder;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.links {
    margin: 0 0.2rem !important;
}

@media screen and (max-width: 450px) {
    #nav {
        text-align: center;
        flex-direction: column-reverse;
    }

    .links {
        margin: 0.1rem 0 !important; 
        margin-right: 0.6rem !important;
    }

   
    #containerr {
        height: 100px;
    }
}

